<launch>

    <!-- The HRATC judge -->
    <node name="judge" pkg="hratc2017_framework" type="judge" output="screen">
      <rosparam file="$(find hratc2017_framework)/settings/minefield.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/settings/judge.yaml" command="load" />
      <param name="~isSimulation" value="false"/>    
    </node>

    <!-- The minefield viewer - updates an occupancy grid displaying the covered area -->
    <node name="mineFieldViewer" pkg="hratc2017_framework"  type="mineFieldViewer"
      output="screen">
      <rosparam file="$(find hratc2017_framework)/settings/minefield.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/settings/judge.yaml" command="load" />
      <param name="~isSimulation" value="false"/>    
    </node>

    <!-- Visualization in RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hratc2017_framework)/hratc.rviz" /> 
    
</launch>
