<launch>

    <!-- Open the Gazebo world -->
    <include file="$(find hratc2017_framework)/launch/world-park.launch">
      <arg name="gui" value="true" />
      <arg name="simple_rviz" value="false" />
    </include>

    <!-- Spawn the P3AT robot -->
    <include file="$(find hratc2017_framework)/launch/p3at.launch"/>
    
    <node pkg="hratc2017_framework" type="gps_to_odom" name="gps_to_odom" />

    <!-- EKF for absolute localization (clearpath) -->
    <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
<!--        <param name="base_footprint_frame" value="base_link"/>-->
        <remap from="robot_pose_ekf/odom_combined" to="robot_pose_ekf/odom"/>
        <remap from="odom" to="p3at/odom"/>
        <remap from="imu_data" to="imu/data"/>
        <remap from="gps" to="gps/odom"/>
        <param name="output_frame" value="odom"/>
        <param name="freq" value="100.0"/>
        <param name="sensor_timeout" value="1.0"/>
        <param name="odom_used" value="true"/>
        <param name="imu_used" value="true"/>
        <param name="imu_absolute" value="true"/>
        <param name="vo_used" value="false"/>
        <param name="gps_used" value="true"/>
        <param name="debug" value="false"/>
        <param name="self_diagnose" value="false"/>
    </node>
    
    <!-- The minefield frame -->
    <node name="minefield_static_tf_publisher" pkg="hratc2017_framework" type="minefield_static_tf_publisher" output="screen">
      <rosparam file="$(find hratc2017_framework)/settings/minefield.yaml" command="load" />
    </node>

    <!-- The coil signal simulator - required when not using the real robot -->
<!--    <node name="coilSignalSimulator" pkg="hratc2017_framework" type="coilSignalSimulator.py"/>-->
    <node name="coilSignalSimulator" pkg="hratc2017_framework" type="coilSignalSimulator">
      <rosparam file="$(find hratc2017_framework)/settings/minefield.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/settings/judge.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/description/worlds/coordinates.yaml" command="load" />
      <param name="~isSimulation" value="true"/>  
<!--      <remap from="coilSignalSimulator/coils" to="coils"/>-->
    </node>

    <!-- The HRATC judge -->
    <node name="judge" pkg="hratc2017_framework"  type="judge"
      output="screen">
      <rosparam file="$(find hratc2017_framework)/settings/minefield.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/settings/judge.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/description/worlds/coordinates.yaml" command="load" />
      <param name="~isSimulation" value="true"/>    
    </node>

    <!-- The minefield viewer - updates an occupancy grid displaying the covered area -->
    <node name="mineFieldViewer" pkg="hratc2017_framework"  type="mineFieldViewer"
      output="screen">
      <rosparam file="$(find hratc2017_framework)/settings/minefield.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/settings/judge.yaml" command="load" />
      <rosparam file="$(find hratc2017_framework)/description/worlds/coordinates.yaml" command="load" />
      <param name="~isSimulation" value="true"/>    
    </node>

    <!-- Visualization in RVIZ -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hratc2017_framework)/hratc.rviz" /> 
  
</launch>
